body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 90%;
    max-width: 1040px;
    margin: 0 auto;
    min-width: 900px;
}
/*text shadow will add a drop shadow to the header. formatted as follows:*/
/*text-shadow: horizontal-shadow vertical-shadow blur color*/
/*horizontal-shadow - length of shadow along the x-axis*/
/*vertical-shadow - length of shadow along the y-axis*/
/*blur - controls how much blur radius to add to the shadows (optional)*/
/*color - controls the color of the shadow (optional)*/
h1 {
    margin: 15px 0;
    font-size: 85px;
    color: #6f6c7c;
    text-shadow: 1px 1px #72629a;
}
#left-bar {
    width: 25%;
    min-width: 200px;
    display: inline-block;
}
#left img {
    width: 100%;
}
#container {
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
.frame {
    /*border-radius - can create rounded corners for elements*/
    padding: 5px 15px 15px;
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-top: none;
}
.rounded {
    border-radius: 10px;
}