/*reset the default styling of the page for consistency across browsers*/
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
}
/*end reset*/
/*fixed position = element is relative to the viewport of the browser window*/
/*as the viewport does not change when the window is scrolled the element always appears to be at the same place*/
header {
    position: fixed;
    width: 100%;
    background-color: #fdfdfc;
    border-bottom: 1px solid #e7e6e6;
    padding-top: 14px;
    text-align: center;
    /*an element with the highest z-index appears on top*/
    z-index: 99;
    /*if the page collapses - content won't be hidden*/
    min-width: 570px;
}
.portrait, .title {
    display: inline-block;
}
.portrait img {
    /*makes the image round and restrict the height*/
    border-radius: 45px;
    height: 85px;
}
.portrait {
    padding-bottom: 10px;
}
.title {
    margin: 20px 20px 0;
    vertical-align: top;
}
.title h1 {
    color: #3D5167;
}
#toolbar ul {
    /*remove bullet from the list of links*/
    list-style: none;
    margin: 0;
    padding: 0;
}
#toolbar li {
    /*makes the elements inline to sit next to each other*/
    display: inline-block;
    padding: 10px;
}
#toolbar {
    /*setting the colour of the toolbar*/
    background-color: #3D5167;
    text-align: center;
}
#toolbar li a {
    /*changing the color of the link*/
    text-decoration: none;
    color: #e7e7e7;
}
#toolbar li a:hover {
    /*using a psuedo class to underline text when mouse hovers over link*/
    border-bottom: 1px solid;
}
#content {
    /*repositiong the content so it doesn't hide underneath the header.*/
    background-color: #e8e8e8;
    padding: 160px 30px 40px;
}
.start-of-line {
    float:left;
}
.end-of-line {
    float:right;
}
.start-of-line, .end-of-line {
    /*adding space around the images so there is some separation between them and the text*/
    padding: 10px;
    height: 200px;
    width: 200px;
    position: relative;
}
.caption {
    background-color: rgba(250, 250, 250, 0.8);
    padding: 5px 10px;
    width: 73%;
    /*making the caption appear at the bottom of the image, but not under it*/
    position: absolute;
    bottom: 10px;
    left: 10px;
}
footer {
    height: 60px;
    padding-top: 20px;
    background-color: #3D5167;
    border-top: 1px solid #eeeeee;
    width: 100%;
}
footer p {
    color: #b0afc0;
    font-size: 14px;
    margin-left: 30px;
}
footer a {
    color: #b0afc0;
}