/*place your styles here*/
/*css resetting*/
/*avoids browser inconsistencies*/
html, body, div, h1, h2, h3 h4, h5, h6, p, a, img, small, b, i, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/*Style tags are added in the head of the HTML page*/
/*-A class selector (starting with .) selects all elements that use the specified class*/
/*Stylesheets cascade to all elements until they are changed*/
body {
font-family:Arial, Helvetica, sans-serif;
}
/*-we can remove the bullet from the lists defined*/
ul {
list-style: none;
}
a {
color: #a369d5;
text-decoration: none;
border-bottom: 1px dotted #a369d5;
}
.pictures {
margin: 10px auto;
width: 900px;
}
/*margin is the area surrounding an element*/
/*above is a shorthand version of setting the top, bottom, right and left of the margin*/
/*# is used to identify an element with the specified word*/
#logo {
margin: 0 auto 30px;
width: 200px;
}
/*you can select elements that are nested with a class*/
/*-display specifies how the elements are displayed. li is a block element. By changing the display property, we make sure it's an inline element*/
.pictures li {
display: inline;
margin: 3px;
}
/*reset the margin and border of all the image*/
img {
    margin: 0;
    border: 0;
}
/*we can change the styling of some of these images by defining a more specific selector. This will supersede the img selector we just defined*/
.bigimg img {
    margin: 15px 2px;
    width: 439px;
    border: 2px solid #b9b1bf;
}
/*extend the body selector so that the page looks less cramped*/
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}
/*center container main*/
/*to center a container, the width must be defined. If you remove width, it won't be in the center of the page*/
/*auto - adjusts the left and right margins*/
/*padding is the area around an element but within its border*/
#main {
    width: 900px;
    margin: 0 auto 40px;
    padding: 0;
}
/*float pushes an element to the left or right side. Following siblings will wrap around the floating element*/
.right-box {
    float: right;
}
/*empty elements for styling*/
/*can help the design of the page look nice!*/
#top-line {
    width: 100%;
    height: 5px;
    background-color: #2d183d;
    border-bottom: 3px solid #eedffb;
    margin-bottom: 10px;
}
#bottom-line {
    width: 100%;
    height: 5px;
    background-color: #2d183d;
}
h1 {
    font-size: 39px;
    color: #2d183d;
    text-align: center;
    border-bottom: 1px solid #f6f4f8;
    border-top: 1px solid #f6f4f8;
    padding: 20px 0;
}
h2 {
    font-size: 28px;
    margin: 15px 0;
    color: #663095;
    padding: 15px 0px;
    font-weight: 400;
    text-align: center;
}
h3 {
    color: #6D6A6A;
    font-size: 19px;
    padding: 27px 25px 15px;
}
small {
    color: #6D6A6A;
    font-size: 15px;
    margin: 0 30px 10px;
    text-align: right;
    display: block;
}
ol {
    margin: 14px 0;
}
ol li {
    background-color: #f6f4f8;
    color: #663095;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 30px 10px 40px;
    padding: 6px 20px;
    border-radius: 9px;
}
/*font-weight is the thickness of displayed text*/
/*text-align horizontal alignment of a text element*/

#the-quote{
    border-bottom: 1px solid #f6f4f8;
    border-top: 1px solid #f6f4f8;
    margin: 40px auto;
    width: 90%;
}
#links{
    margin: 10px 15px 0 0;
}

#links li {
    /*margin: 0 7px;*/
    font-size: 18px;
    display: inline;
}

#text-block {
    height: 370px;
}
.pictures li img {
    border: 2px solid #b9b1bf;
}
.pictures li:first-child {
    margin-left: 5px;
}
.bigimg{
    display: inline;
}